.navbar{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid #0f0f0f;
    display: flex;
    align-items: center;
}

.toggleMenu{
    display: none;
    cursor: pointer;
}

.userActionsContainer{
    flex: 1;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 289px;
    padding:  15px 30px;
}

.titlePage{
    flex: 1;
    font-size: 46px;
}

.userActionsIcons{
    display: flex;
    align-items: center;
    gap: 32px;
}

.actionsIcons{
    display: flex;
    align-items: center;
    gap: 26px;
}

.actionsIcons .icon {
    position: relative;
    cursor: pointer;
    transition: transform .2s ease;
}

.actionsIcons .icon:hover {
    transform: scale(1.1);
    transition: transform .2s ease;
}

.badge{
    position: absolute;
    color: #fff;
    top: -3px;
    right: -3px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.userActionsLogo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userActionsLogo span:nth-child(1){
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
}

.userActionsLogo span:nth-child(2){
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
}

@media (max-width: 768px) {
    .toggleMenu{
        display: block;
        padding: 15px;
        margin-left: 15px;
    }

    .userActionsContainer{
        margin: 0;
    }

    .userActionsLogo{
        display: none;
    }
}