:root {
  --background-color: #F8F9FC
}

html, body {
  height: 100vh;
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}